<mat-form-field appearance="outline" class="w-100">
  <mat-label>{{ Placeholder() }}</mat-label>
  <mat-select
    [formControl]="FormControl()!"
    [multiple]="Type() === 'multiple'"
    [disabled]="Disabled()"
  >
    <mat-option *ngFor="let item of Options()" [value]="item[ValueKey()]">
     <div class="countryIcon">
<span [ngClass]=getCountry(item)></span>



</div>  {{ item[LabelKey()] }}
    </mat-option>
  </mat-select>

  <mat-error *ngIf="ErrorMessage()">
    {{ ErrorMessage() }}
  </mat-error>
</mat-form-field>
