<div
  class="sidebar-item ps-{{ level * 3 }}"
  [ngClass]="{ 'has-children': item.children }"
>
  <div
    class="d-flex justify-content-between align-items-center py-2"
    (click)="toggle()"
    (keydown.enter)="toggle()"
    (keydown.space)="toggle()"
    role="button"
    tabindex="0"
    [attr.aria-expanded]="expanded"
  >
    <div>
      <mat-icon *ngIf="item.icon" class="me-2">{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </div>
    <mat-icon *ngIf="item.children">
      {{ expanded ? 'expand_less' : 'expand_more' }}
    </mat-icon>
  </div>

  <div *ngIf="item.children && expanded" class="ms-3 border-start ps-2">
    <app-sidebaritem
      *ngFor="let child of item.children"
      [item]="child"
      [level]="level + 1"
    ></app-sidebaritem>
  </div>
</div>
