

<div class="p-2  d-flex flex-column h-100">

    <div class="row">
        <div class="col-sm-12 card shadow-sm p-2">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-1">
                <app-button
                    text="Add"
                    color="primary"
                    variant="stroked"
                    [class]="'mb-4'"
                    (clicked)="openTaxonomyDialog()"
                />
                <div class="float-right">
                    <ng-container *ngIf="showLocaleSelector">
                    <app-localeselector
                        [selectedLocale]="selectedLocale"
                        (localeChanged)="onLocaleChanged($event)">
                    </app-localeselector>
                </ng-container>
                </div>
            </div>
        </div>
       <div class="col-sm-12  py-5 ">
        <div>

            <tree-dynamic-example ></tree-dynamic-example>
        </div>
    </div>
    </div>

   

   <div></div>

</div>