<div class="p-3 bg-light d-flex flex-column h-100">
  
  <div *skeleton="isLoading; repeat: 5; className: 'mb-2'; height: '40px'; width: '100%'">
    <app-sidebaritem
      *ngFor="let item of menu"
      [item]="item"
      [level]="0"
      [selectedRoute]="selectedRoute"
      (itemSelected)="onItemSelected($event)"
    ></app-sidebaritem>
  </div>

  
  <div class="flex-grow-1"></div>

  
  <div
    *skeleton="isLoading; height: '40px'; width: '100%'"
    mat-button
    [matMenuTriggerFor]="settingsMenu"
    class="sidebar-settings-item d-flex align-items-center gap-2 py-2 px-3 mt-auto"
    style="cursor: pointer;"
    tabindex="0"
  >
    <mat-icon color="primary">settings</mat-icon>
    <span class="mat-body-1">Settings</span>
  </div>

  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item>
      <mat-icon color="primary">person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon color="primary">logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</div>
