

<mat-drawer-container class="example-container">
  <mat-drawer 
  class="custom-drawer"
    #drawer 
    mode="side" 
    opened 
    (openedChange)="drawerStateChanged($event)" 
   
  
  >
    <app-sidebar   class="" />
 


  </mat-drawer>
    <mat-drawer-content>
        <app-header (toggle)="toggleDrawer()" [drawerOpened]="drawerOpened"></app-header>
        <div class="container-fluid">
          <router-outlet ></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>