<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="col-11 col-sm-8 col-md-5 col-lg-4 col-xl-3 p-4 shadow rounded bg-white">
    <h4 class="text-center mb-4 text-primary">Login</h4>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">


      <app-input 
        LabelName="Email" 
        [Type]="'email'" 
        [Placeholder]="'Enter your email'"
        [FormControl]="getControl('email')"
        [CustomErrorMessage]="loginForm.get('email')?.touched && 
                              loginForm.get('email')?.invalid ? 
                              'Valid email required' 
                              : null"
      />

      <app-input 
        LabelName="Password" 
        [Type]="'password'" 
        [Placeholder]="'Enter your password'"
        [FormControl]="getControl('password')"
        [CustomErrorMessage]="loginForm.get('password')?.touched && 
                              loginForm.get('password')?.invalid ? 
                              'Password is required' 
                              : null" 
      />



      <button 
        class="float-end w-100" 
        mat-raised-button color="primary"
        [disabled]="loginForm.invalid || (loading$ | async)"
        >
        <ng-container 
          *ngIf="loading$ | async as loading; else loginText">
          <mat-spinner color="primary" strokeWidth="3" diameter="20"></mat-spinner>
        </ng-container>
        
        <ng-template #loginText>
          <span>Login</span>
        </ng-template>
      </button>

    </form>
  </div>
</div>