<p>productlist works!</p>

<form [formGroup]="form" class="row">

<app-input 
class="col-sm-3"
 LabelName="Email"
 [Type]="'email'"
 [Placeholder]="'Enter your Email'"
 [FormControl]="form.controls.email"
 [CustomErrorMessage]="'Please enter a valid email address'"
(ValueChange)="onEmailChange($event)"
 />

<form [formGroup]="form">
  <app-dropdown
    [Options]="countries"
    [FormControl]="form.controls.country"
    [Placeholder]="'Country'"
    [LabelKey]="'name'"
    [ValueKey]="'code'"
    [CustomErrorMessage]="''"
    (ValueChange)="onCountryChange($event)"
  ></app-dropdown>
</form>




</form>
