.custom-header {
  background-color: #f8f9fa; 
  color: #333;
  border-bottom: 3px solid #dee2e6;
  border-radius: 0;
  box-shadow: 0 0 20px rgba(248, 247, 247, 0.15);
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}
