$m2-primary: (
  50: #f6ebe7,
  100: #e9c8bc,
  200: #da9f8e,
  300: #cb745d,
  400: #bf563b,
  500: #873d1d,
  600: #79371a,
  700: #6a3016,
  800: #5c2913,
  900: #431d0b,
  A100: #ffbfae,
  A200: #ff947f,
  A400: #ff684f,
  A700: #ff4f36,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #fff,
    A700: #fff
  )
);

$m2-accent: (
  50:  #fffdf5,
  100: #fff6cc,
  200: #ffe999,
  300: #ffdb66,
  400: #ffd033,
  500: #ffc400,
  600: #e6b100,
  700: #cc9e00,
  800: #b38b00,
  900: #997800,
  A100: #fff8e1,
  A200: #ffecb3,
  A400: #ffd54f,
  A700: #ffca28,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);


// $m2-error: (
//   50: #fff6f5,
//   100: #ffe9e6,
//   200: #ffdad5,
//   300: #ffcbc4,
//   400: #ffbfb8,
//   500: #ffb4ab,
//   600: #ffada4,
//   700: #ffa49a,
//   800: #ff9c91,
//   900: #ff8c80,
//   A100: #ffffff,
//   A200: #ffffff,
//   A400: #ffffff,
//   A700: #ffffff,
//   contrast: (
//     50: #000000,
//     100: #000000,
//     200: #000000,
//     300: #000000,
//     400: #000000,
//     500: #000000,
//     600: #000000,
//     700: #000000,
//     800: #000000,
//     900: #000000,
//     A100: #000000,
//     A200: #000000,
//     A400: #000000,
//     A700: #000000,
//   ),
// );
