

$m2-accent: (
  50: #fdf6ff,
  100: #fbe7fe,
  200: #f8d8fe,
  300: #f5c8fd,
  400: #f2bcfc,
  500: #f0b0fc,
  600: #eea9fc,
  700: #eca0fb,
  800: #e997fb,
  900: #e587fa,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$m2-error: (
  50: #fff6f5,
  100: #ffe9e6,
  200: #ffdad5,
  300: #ffcbc4,
  400: #ffbfb8,
  500: #ffb4ab,
  600: #ffada4,
  700: #ffa49a,
  800: #ff9c91,
  900: #ff8c80,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
