
@use '@angular/material' as mat;



// 1. Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Poppins:wght@400;600&display=swap');


// 2. Bootstrap Functions & Variables
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// 3. Custom Variables & Color Maps
$custom-colors: (
  "arabianoud": #873D1D,
  "oudelite": #000000
);
$primary: map-get($custom-colors, "arabianoud");

$primary-50: lighten($primary, 50%);
$primary-100: lighten($primary, 40%);
$primary-200: lighten($primary, 30%);
$primary-300: lighten($primary, 20%);
$primary-400: lighten($primary, 10%);
$primary-500: $primary; 
$primary-600: darken($primary, 5%);
$primary-700: darken($primary, 10%);
$primary-800: darken($primary, 15%);
$primary-900: darken($primary, 20%);


$theme-colors: map-merge(
  (
    "primary": $primary,
    "danger": $danger
  ),
  $custom-colors
);

// 4. Bootstrap Import (must be after variables)
@import "../../node_modules/bootstrap/scss/bootstrap";

// 5. Custom Utility Classes
@each $color, $value in $theme-colors {
  .btn-hover-#{$color} {
    &:hover {
      background-color: darken($value, 10%);
      border-color: darken($value, 10%);
    }
  }

  .mat-icon-#{$color} {
    color: $value;
  }
}



// 7. Typography
body {
   font-family: 'Poppins', 'Roboto', sans-serif;
}
html, body {
  height: 100%;
  margin: 0;
}


.login-title{
  color: $primary-700;
  font-weight: 600;
}


h1 h2 h3 h4 h5 h6{
color: $primary-500;
}

.snackbar-success {
  
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: rgb(157, 194, 157),
  ));
}

.snackbar-error {
  background-color: #f44336;
  color: white;
}

.snackbar-info {
  background-color: #2196f3;
  color: white;
}

.snackbar-warn {
  background-color: #ff9800;
  color: black;
}
